networks:
  worf:
    name: worf
    driver: bridge

services:
  apk-server:
    image: cgr.dev/chainguard/nginx:latest-dev
    container_name: apk-server
    ports:
      - "8080:8080"
    volumes:
      - ./infra/packages:/var/www/apks:ro
      - ./infra/nginx/nginx.conf/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./infra/nginx/sites-enabled:/etc/nginx/sites-enabled:ro
    restart: unless-stopped
    networks:
      - worf

  apko-flask-server:
    build:
      context: ./assets/apko_server
      dockerfile: Dockerfile
    container_name: apko-flask-server
    ports:
      - "8081:8081"
    volumes:
      - ./infra/images:/app/images
    networks:
      - worf

  registry:
    image: registry:2
    container_name: registry.localhost
    ports:
      - "5000:5000"
    volumes:
      - ./infra/registry-data:/var/lib/registry
    networks:
      - worf


